.login {
  padding: 40px 20px;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(0,123,255,0.1), rgba(0,86,179,0.1)), 
             url('https://img.freepik.com/premium-vector/geometric-gradient-technology-background_23-2149110132.jpg?semt=ais_hybrid&w=740&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background-color: #fff;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loginForm h2 {
  text-align: center;
  font-size: 24px;
  color: black;
}

.loginForm input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.loginButton {
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.loginButton:hover {
  background-color: #1e40af;
}
